<ul class="sub-menu clearfix">
        <li class="sub-menu-list">
            <a href="{% url 'gallery:gametypes' 0 %}"
                    {% if request.resolver_match.kwargs.types_pk == '0' %}
               class="sub-active"
               {% else %}
               class="sub-menu-link"
               {% endif %}>all games</a>
        </li>
    {% for type in game_types %}
        <li class="sub-menu-list">
            <a href="{% url 'gallery:gametypes' type.pk %}"
               {% if request.resolver_match.kwargs.types_pk == type.pk|stringformat:'d' %}
               class="sub-active"
               {% else %}
               class="sub-menu-link"
               {% endif %}>
                {{ type.name }}
               </a>
        </li>
    {% endfor %}
</ul>