{% load staticfiles %}
<ul class="menu clearfix">
    {% for item in links_menu %}
        <li class="menu-list">
            <a href="{% url item.href %}"
                                 {% if request.resolver_match.url_name == item.name %}class="menu-link"
                                 {% else %}class="menu-link"{% endif %}>
                {{ item.name|title }}
            </a></li>
            {% endfor %}
{% if user.is_authenticated %}
        <li class="menu-list">
            <a href="{% url 'auth:edit' %}" class="menu-link">
                {{ user.first_name|title|default:'User' }}
            </a>
        </li>
        {% endif %}
{% if user.is_superuser %}
        <li class="menu-list">
            <a href="{% url 'admin:admin' %}" class="menu-link">
                Admin
            </a>
        </li>
{% endif %}
        <li class="menu-list">
            {% if user.is_authenticated %}
              <a href="{% url 'auth:logout' %}" class="menu-link">Sign out</a>
            {% else %}
              <a href="{% url 'auth:login' %}" class="menu-link">Sigh in</a>
            {% endif %}
        </li>
        <li class="menu-list">
            {% if not user.is_authenticated %}
              <a href="{% url 'auth:register' %}" class="menu-link">Sign up!</a>
            {% endif %}
        </li>
        <li class="menu-list">

        <a href="{% url 'shopping_cartapp:shopping_cart' %}" class="menu-link"><i class="fas fa-shopping-cart"></i>
        </a>
        </li>

        <span class="shopping-cart-content">{% if shopping_cart %}items: {{ shopping_cart.0.total_quantity }},
            whole price: {{ shopping_cart.0.total_cost }} ${% endif %}</span>

</ul>


<div class="broke-line">
    <img class="img-broke-line" src="{% static 'img/figure_1_1.png' %}" alt="broke-line">
</div>
<div class="menu-bottom-border">

<img
        {% if request.resolver_match.url_name != 'index' and request.resolver_match.url_name != 'gametypes' and request.resolver_match.url_name != 'game' %}
    class="img-bottom-border-{{ request.resolver_match.url_name }}"
    src="{% static 'img/square_3_1.png' %}" alt="bottom-border"
    {% endif %}
    >
{% for name in request.resolver_match.namespaces %}
<img {% if name == 'gallery' %}
    class="img-bottom-border-gallery"
    src="{% static 'img/square_3_1.png' %}" alt="bottom-border"
{% endif %}>

{% endfor%}

{% for name in request.resolver_match.namespaces %}
<img {% if name == 'gametypes' %}
    class="img-bottom-border-gallery"
    src="{% static 'img/square_3_1.png' %}" alt="bottom-border"
{% endif %}>

{% endfor%}


</div>


