{% load staticfiles %}
<div class="services">
    <div class="services-head">Services</div>
    <div class="service clearfix">
    <div class="service-block">
        <div class="left-block-img-1"></div>
        <div class="left-block-img-2"><img src="{% static 'img/branch.png' %}" alt=""></div>
        <div class="left-block-head-text">Repreh Qui In Ea Voluptate</div>
        <div class="left-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    <div class="service-brake"></div>
    <div class="service-block">
        <div class="left-block-img-1"></div>
        <div class="left-block-img-2"><img src="{% static 'img/$.png' %}" alt=""></div>
        <div class="left-block-head-text">Aut Perferendis Doloribus</div>
        <div class="left-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    <div class="service-brake"></div>
    <div class="service-block">
        <div class="left-block-img-1"></div>
        <div class="left-block-img-2"><img src="{% static 'img/poll.png' %}" alt=""></div>
        <div class="left-block-head-text">Maiores Alias Consequatur</div>
        <div class="left-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    </div>
    <div class="service clearfix">
    <div class="service-block">
        <div class="right-block-img-1"></div>
        <div class="right-block-img-2"><img src="{% static 'img/arrow-up-bold-circle-outline.png' %}" alt=""></div>
        <div class="right-block-head-text">Voluptatibus Maiores Alias</div>
        <div class="right-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    <div class="service-brake"></div>
    <div class="service-block">
        <div class="right-block-img-1"></div>
        <div class="right-block-img-2"><img src="{% static 'img/home.png' %}" alt=""></div>
        <div class="right-block-head-text">Dut Aut Reiciendis Maiores</div>
        <div class="right-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    <div class="service-brake"></div>
    <div class="service-block">
        <div class="right-block-img-1"></div>
        <div class="right-block-img-2"><img src="{% static 'img/settings.png' %}" alt=""></div>
        <div class="right-block-head-text">Doloribus Volupta Maiores</div>
        <div class="right-block-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</div>
    </div>
    </div>
</div>