<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    {% include 'mainapp/includes/inc_head.html' %}
</head>

<body>
    <div class="container">
        {% block hello-part %}
        <div class="hello-part">
            <div class="header clearfix">
                <div class="header-line">
                    <a href="{% url 'main' %}" class="logo clearfix">
                        <p class="historical">Historical</p>
                        <p class="games">GAMES</p>
                    </a>
                    <div class="phone clearfix">
                        <img class="phone-icon" src="{% static 'img/phone.jpg' %}" alt="phone-icon">
                        <div class="phone-text">+123 456 7890</div>
                    </div>
                    <div class="email clearfix">
                        <img src="{% static 'img/email.jpg' %}" alt="email-icon" class="email-icon">
                        <div class="email-text">info@example.com</div>
                    </div>
                    <div class="search clearfix">
                        <img src="{% static 'img/square_2.svg' %}" alt="search">
                        <img class="vert-border" src="{% static 'img/figure_2.svg' %}" alt="vert-border">
                        <form action="#">
                            <input class="search-input" type="search" placeholder="Search">
                            <input class="search-icon" type="submit" value="">
                        </form>
                    </div>
                </div>
            </div>
            {% block menu %}

            {% endblock %}
            {% block content %}

            {% endblock %}
            {% block social %}

            {% endblock %}
        </div>
        {% endblock %}
        {% block gallery_our-gallery %}

        {% endblock %}
        {% block whole-good %}

        {% endblock %}
        {% block similar %}

        {% endblock %}
        {% block about-us %}

        {% endblock %}
        {% block services %}

        {% endblock %}
        {% block our-gallery %}

        {% endblock %}
        {% block testimonial %}

        {% endblock %}
        {% block news-and-events %}

        {% endblock %}
        {% block our-team %}

        {% endblock %}
        {% block subscribe %}

        {% endblock %}
        {% block contact-us %}
        <div class="contact-us">
            <p class="contact-text">Contact Us</p>
            <div class="get-in-touch">
                <p class="get-head-text">Get in touch with us</p>
                <p class="get-main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets
                    containing Lorem Ipsum passages sed do, At vero eos et accusamus et
                    iusto odio digs qui blanditiis

                    Leningradsky AVE 39, BLDG 79
                    MOSCOW 125167, Russia

                    Telephone : +00 111 222 3333

                    FAX : +1 888 888 4444

                    Email : mail@example.com</p>
            </div>
            <div class="contact-form">
                <form action="#">
                    <input class="input-data" type="text" placeholder="Name">
                    <input class="input-data" type="text" placeholder="Email">
                    <textarea class="input-message" id="#" placeholder="Message"></textarea>
                    <input class="contact-submit" type="submit" value="SUBMIT">
                </form>
            </div>
            <div class="route-map">
                <p class="route">Route Map</p>
                <div class="route-map-img">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A52db086ee63a7ca00607b96914abe36526267731ed48efaed781b9d12e128363&amp;width=970&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
            </div>
        </div>
        {% endblock %}
        {% block footer %}
        <div class="footer">
            <p class="footer-text">© {% now 'Y' %} Hystorical Games. Test web-site <a href="https://geekbrains.ru">geekbrains'</a> student</p>
        </div>
        {% endblock %}
    </div>

</body>

</html>