{% load staticfiles %}
<meta charset="UTF-8">
<title>{{ title|title }}
</title>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/shopping_cart.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style_other.css' %}">
<link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/pen6rnr.css">
<link rel="stylesheet" href="https://use.typekit.net/pen6rnr.css">
