{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <form class="form-group" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="sign up">
    <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
    </form>
    <a href="{% url 'main' %}" class="">
            back to the main
        </a>
{% endblock %}