{% extends 'mainapp/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<body>
            {% block menu %}
            {% include 'mainapp/includes/inc_main_menu.html' %}
            {% endblock %}
        {% block whole-good %}
        <div class="whole-good clearfix">
            <div class="good clearfix">
                <img src="/media/{{ game.image }}" alt="big-img" class="big-img">
            </div>
            <div class="good clearfix">
                <p class="game-name">{{ game.name }} </p>

                <p class="price">{{ game.price }} $</p>
                <form action="{% url 'shopping_cartapp:add' game.pk %}">
                                    <button class="buy" type="submit" value="Buy">Buy</button>
                                </form>

                <p class="desc">{{ game.description }}</p>
            </div>
            </div>
        {% endblock %}
            {% block similar %}
            <div class="our-gallery">
            <div class="our-gallery-text">
                <p>Similar Games</p>
            </div>
                <div class="big-gallery">
                    {% for element in same_games %}
                    <div class="gallery clearfix">
                            <a href="{% url 'gallery:game' element.pk %}">
                                <img class="gallery-img" src="/media/{{ element.image }}" alt="{{ element.name }}">
                            </a>
                            <div class="gallery-description">{{ element.description }}</div>
                            <div class="gallery-img-text">{{ element.name }}</div>
                            <div class="short-description">{{ element.short_desc }}</div>
                            <div class="gallery-button">
                                <div class="db-price">{{ element.price }} $</div>
                                <form action="{% url 'shopping_cartapp:add' element.pk %}">
                                    <button type="submit" value="Buy">Buy</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>

            {% endblock %}
</body>
</html>
