{% extends 'mainapp/base.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<body>


{% block hello-part %}
    <div class="container container-main">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 main-text">
                <p class="text-center">Morbi in nisl auctor</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 social-icons">
                <div class="text-center">
                    <a href="#"><img src="{% static 'img/f1.png' %}" class="img-fluid" alt="Адаптивные изображения"></a>
                    <a href="#"><img src="{% static 'img/f2.png' %}" class="img-fluid" alt="Адаптивные изображения"></a>
                    <a href="#"><img src="{% static 'img/f3.png' %}" class="img-fluid" alt="Адаптивные изображения"></a>
                    <a href="#"><img src="{% static 'img/f4.png' %}" class="img-fluid" alt="Адаптивные изображения"></a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}

{% block about-us %}
    {% include 'mainapp/includes/inc_about.html' %}
{% endblock %}

{% block services %}
    {% include 'mainapp/includes/inc_services.html' %}
{% endblock %}

{% block testimonial %}
    {% include 'mainapp/includes/inc_testimonial.html' %}
{% endblock %}


</body>

</html>